<a href="https://colab.research.google.com/github/MateoRosas/BigData-e-Ingenieria-De-Datos/blob/main/TallerBigData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Repaso clase

In [94]:
x = [-2,3,4,5,6]

x2 = [w**3 for w in x]

x2

[w ** 2 for w in x if w > 0]

[9, 16, 25, 36]

In [95]:
from IPython.core.display import Math
def sumar(x=0 , y=0):
  return x + y

def resta(x=0, y=0):
  return x - y

def f(x):
  if x == 0:
    return 0
  else:
    return x*f(x-1)

def f1(f3, x, y):
  return f3(x, y)



#f1(resta, 2 ,3)
#f1(sumar, 2 ,3)

f(5)

0

In [96]:
"""
FUNCION LAMBDA
"""

f1(lambda x, y: x ** y, 3, 3)

27

##**Taller 1**

1. Genere una lista con los números del 1 al 20. Apartir de esta lista genere por comprensión:

In [97]:
lista = []
for i in range(20):
  lista.append(i+1)

print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

* Una lista donde se le aplique la siguiente función a cada elemento:

$ g(x) = 1/x^2$

In [98]:
def g(x):
  return 1/x**2

lista_f = []
for i in lista:
  lista_f.append(round(g(i), 3))

print(lista_f)

[1.0, 0.25, 0.111, 0.062, 0.04, 0.028, 0.02, 0.016, 0.012, 0.01, 0.008, 0.007, 0.006, 0.005, 0.004, 0.004, 0.003, 0.003, 0.003, 0.003]

* Una lista solo con los valores impares

In [99]:
lista_impar = [i for i in lista if i % 2 != 0]

print(lista_impar)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

* Una lista con los múltiplos de 3

In [100]:
lista_multi_3 = [i for i in lista if i % 3 == 0]

print(lista_multi_3)

[3, 6, 9, 12, 15, 18]

2. Escribir una función es_primo que devuelva True si un número es primo o False en
caso contrario

In [101]:
def es_primo(num):
  if num < 1:
    return False
  elif num == 2:
    return True
  
  for i in range(2, num):
    if num % i ==  0:
      return False
    return True

3. Escribir una función que devuelva los números primos para un intervalo dado.
4. Escribir un generador que devuelva los n primeros números primos

In [102]:
"""
n -> 1 hasta x+1

d -> 1 hasta n+1

[1] [2] 3 4 5 6 7 8 9
1   1
2 1  2
3   3
4 1  4
5   5
6 1  6
7   7
8 1  8
9   9
10 1 10
"""

def es_primo_interval(num1, num2):
  cont = 0
  for n in range(num1, num2+1):
    for d in range(num1, n+1):
      if n % d == 0:
        cont += 1
    if cont == 2:
      print("{}".format(n), end=" ")
    cont = 0

    
es_primo_interval(1,100)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

5. Escribir una función sumatoria que reciba una función f y un valor límite limit y halle:

In [103]:
def f(x):
  return x ** 4

def sumatoria(limit):
  for i in range(limit):
    print('{}'.format(f(i)), end= " ")

sumatoria(100)

0 1 16 81 256 625 1296 2401 4096 6561 10000 14641 20736 28561 38416 50625 65536 83521 104976 130321 160000 194481 234256 279841 331776 390625 456976 531441 614656 707281 810000 923521 1048576 1185921 1336336 1500625 1679616 1874161 2085136 2313441 2560000 2825761 3111696 3418801 3748096 4100625 4477456 4879681 5308416 5764801 6250000 6765201 7311616 7890481 8503056 9150625 9834496 10556001 11316496 12117361 12960000 13845841 14776336 15752961 16777216 17850625 18974736 20151121 21381376 22667121 24010000 25411681 26873856 28398241 29986576 31640625 33362176 35153041 37015056 38950081 40960000 43046721 45212176 47458321 49787136 52200625 54700816 57289761 59969536 62742241 65610000 68574961 71639296 74805201 78074896 81450625 84934656 88529281 92236816 96059601

6. Cree la función g que halle el cubo de un número:

$g(x)  = x^3$

In [104]:
def f_3(x):
  return x ** 3

7. Cree la función h tal que

$g(x) = 1/x^2$

In [105]:
def h(x):
  return 1/x**2

8. Utilice las funciones anteriormente creadas en los puntos 5,6,7 para calcular:

In [106]:
sum = [ f_3(i) for i in range(1, 5)]
print(sum)

[1, 8, 27, 64]

In [107]:
sum = [ h(i) for i in range(1, 5)]
print(sum)

[1.0, 0.25, 0.1111111111111111, 0.0625]

Funciones anónimas 
lambda parámetros : expresión


* Son funciones que pueden definir cualquier número de parámetros pero una única expresión. 
* Esta expresión es evaluada y devuelta.

* Se pueden usar en cualquier lugar en el que una función sea requerida.

* Estas funciones están restringidas al uso de una sola expresión.

* Se suelen usar en combinación con otras funciones, generalmente como argumentos de otra función.

9. Realice el ejercicio anterior utilizando funciones anónimas.

In [120]:
#Sumatoria de f(x) = x^3

limit = [i for i in range(5) ]

for i in limit:
  sum1 = lambda f_3: f_3(i)

sum1(f_3)


#Sumatoria de h(x) = 1/x^2

limit = [i for i in range(5) ]

for i in limit:
  sum2 = lambda h: h(i)

sum2(h)

0.0625

10. Realice lo ejercicios del punto 1 utilizando las funciones map y filter según el caso.

##MAP

La función $map()$ en Python aplica una función a cada uno de los elementos de una lista. 

$map(unaFuncion, unaLista)$

In [2]:
def fun(x):
  return x ** x

lista_map = [ i for i in range(10)]

map1 = list(map(lambda i : fun(i), lista_map))

print(map1)

[1, 1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489]

##FILTER

La función $filter()$ filtra una lista de elementos para los que una función devuelve True

$filter(una_funcion, una_lista)$

In [3]:
valores = [1, 2, 3, 4, 5, 6, 7, 8, 9]
pares = list(filter(lambda x : x % 2 == 0, valores))
print(pares)

[2, 4, 6, 8]

##REDUCE

La última función de esta serie que vamos a ver es la función $reduce()$. Esta función se utiliza principalmente para llevar a cabo un cálculo acumulativo sobre una lista de valores y devolver el resultado.



**La función reduce() está incluida en el módulo functools**

In [4]:
from functools import reduce
suma = reduce(lambda x, y: x + y, valores)
print(suma)

45